<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <nav class="my-2 mr-md-auto">
        <a routerLink="/projects" class="p-2 text-dark">Projects</a>
        <a routerLink="/register" class="p-2 text-dark">Registration</a>
    </nav>
    <h5 class="my-2 mr-md-auto font-weight-normal">Crowdfunding App</h5>
    <a *ngIf="!user" routerLink="/register" class="btn btn-outline-primary" href="#">Sign up</a>
    <ng-container *ngIf="user">
        <h5 class="my-0 mr-md-2">User: {{user.name}}</h5>
        <a class="btn btn-outline-primary" (click)="logout()" href="#">Logout</a>
    </ng-container>
</div>